<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>mvc04</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
  	<servlet-name>bbslist</servlet-name>
  	<url-pattern>/bbs/list.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>bbsadd</servlet-name>
  	<url-pattern>/bbs/add.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>bbsdetail</servlet-name>
  	<url-pattern>/bbs/detail.bit</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>bbsdetail</servlet-name>
  	<servlet-class>com.bit.controller.DetailController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>bbsadd</servlet-name>
  	<servlet-class>com.bit.controller.AddController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>bbslist</servlet-name>
  	<servlet-class>com.bit.controller.ListController</servlet-class>
  </servlet>
</web-app>


















