<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>mvc02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
  	<servlet-name>xmllist</servlet-name>
  	<servlet-class>com.bit.xml.List</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>xmladd</servlet-name>
  	<servlet-class>com.bit.xml.Add</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>jsonlist</servlet-name>
  	<servlet-class>com.bit.json.List</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>nalsee</servlet-name>
  	<servlet-class>com.bit.xml.Nalsee</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>xmllist</servlet-name>
  	<url-pattern>/list.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>xmladd</servlet-name>
  	<url-pattern>/add.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>jsonlist</servlet-name>
  	<url-pattern>/list.json</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>nalsee</servlet-name>
  	<url-pattern>/nalsee.xml</url-pattern>
  </servlet-mapping>
</web-app>















