body * {
	padding: 0px;
	margin: 0px;
}

body>div {
	width: 600px;
	margin: 0px auto;
}

#menu {
	height: 35px;
	background-color: orange;
}

#menu>ul {
	width: 400px;
	list-style-type: none;
	margin: 0px auto;
}

#menu>ul>li {
	float: left;
	width: 98px;
	margin: 0px 1px;
}

#menu>ul>li>a {
	line-height: 35px;
	text-align: center;
	display: block;
	height: 35px;
	text-decoration: none;
	color: navy;
	background-color: lime;
}